body {
    color: #000000;
    background: #abeefa;
    margin: 0px;
}

header { 
    border-bottom: solid 2px #0f0a97;
    padding: 20px;
    font-size: 32px;
    color:#0f0a97;
}

section {
    background: rgb(100 197 231);
    padding-bottom: 80px;
    padding-top: 80px;